@charset "utf-8";

html,body{
    height: 100%;
}

/*hMain*/
#main{
    height: 100%;
}
#main ul.row{
    height: 100%;
}
#main ul.row>li{
    height: 100%;
}
#main .section.sec1{
    background: url(../img/bg1.jpg) no-repeat 10%;
    background-size: cover;
}
#main .section.sec2{
    background: url(../img/bg2.jpg) no-repeat 30%;
    background-size: cover;
}
#main .section.sec3{
    background: url(../img/bg3.jpg) no-repeat center;
    background-size: cover;
}

li .overlap{
    width: 100%;
    height: 100%;
    background:#000c;
    color: #fff;
    position: relative;
    display: table;
    text-align: center;
    display: none;
}
li .overlap .mainTxt{
    width: 100%;
    height: 85%;
    display: table;
}
li .overlap .txtTop2{
    display: table-cell;
    vertical-align: middle;
    font-size: 45px;
}
li .overlap .txtMap{
    width: 100%;
    position: absolute;
    bottom: 30px;
}
li .overlap .location{
    width: 20px;
    height: 50px;
    background: url(../img/location.PNG) no-repeat;
    background-position: center;
    margin: 0 auto;
}